<div class="abouthead">
	<h1>A beautiful woman inside and out</h1>
</div>
<div class="row" id="photo-text">
	<div class="col-md-4">
		<%= image_tag("mindysun.jpg", class: "img-responsive", id: "mindysun-img") %>
	</div>
	<div class="col-md-4">
	<p>To my best friend and wife.</p>
		<%= image_tag("mindydaisy.jpg", class: "img-responsive", id: "mindydaisy-img") %>
	</div>
	<div class="col-md-4">
		<%= image_tag("mindylove.jpg", class: "img-responsive", id: "mindylove-img") %>
	</div>
	<div class="col-md-12">
		<div class="aboutpara">
			<h3>Melinda is a 28 year old enthusiastic and gentle woman from New Jersey.</h3>
			<p>She has a uniuqe ability that allows people to feel the best they ever have around her. She has spent her whole live dedicating her passion of helping and encouraging people to reach their full potential by being an incredible listener, an honest yet delicate advice giver, and incredible inspirer.</p>
			<p>She is a friend to so many people because of how beautiful she is, inside and out.</p>
			<p>Finally, Melinda is married to 35 year old British man, Alex Thetford. He has never been happier in his life and he will alwsys be grateful to her for finding him and making his bestfriend his wife and partner in life.</p>
</div>
