<div class="container-fluid" id="contacthead">
<%= image_tag("flowersmindy.jpg", class: "img-responsive", id: "mindysun-img") %>
	<h1>Want to say hi?</h1>
	<h2>Leave a message for Melinda to see.</h2>
</div>
<!-- <div class="row">
<div class="col-md-3">
</div>
<div class="col-md-3">
</div>
<div class="col-md-3">
</div>
<div class="col-md-3">
</div>
<div class="col-md-3">
</div>
<div class="col-md-3">
<div class="col-md-3">
<div class="col-md-3">
<div class="col-md-3">
<div class="col-md-3">
<div class="col-md-3"> -->
